*{
    font-family: 'Lilita One', cursive;
}
#error{
    color: tomato;
    list-style: none;
    text-align: center;
}
#formbox{
    text-align: center;
    display: flex;
    flex-grow: 1;
}
#espacio{
    width: 43%;
}
#recuadro{
    border: black solid 4px;
    border-radius: 4px;
    padding:20px;
}
#title {
    padding: 10px;
    color: #464646;
}
#nav{
    display: flex;
    justify-items:auto;
    padding: 10px;
    float:right;
}

body {
    background: #bbb2e9;
}

table {
    width: 100%;
    text-align: center;
    white-space: initial;
    table-layout:auto;    
}

th, td {
    padding: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-decoration: solid;
    min-width: 100px;
    
}
#img-detail{
    border: 1px solid black;
    padding: 2px;
    margin-top: 10px;
}