{% extends "base.html" %}

{%block title%}Home{%endblock%}

{%block body%}
<h1 id="title" style="text-align: center;">Paws Rescue Center 🐾</h1>
    <table>
        <head>
            <tr style="font-weight: bolder;">
                <td>
                    Image
                </td>
                <td>
                    Name
                </td>
                <td>
                    Age
                </td>
                <td>
                    Bio
                </td>
            </tr>
        </head>
        <body>
            {% for i in pets %}
            <tr>
                <td>
                    <img width="100" src="{{url_for('static',filename=i['id']|string +'.jpg')}}">
                </td>
                <td>
                    {{i["name"]}}
                </td>
                <td>
                    {{i["age"]}}
                </td>
                <td>
                    {{i["bio"]}}
                </td>
            </tr>
            {% endfor %}
        </body>
    </table>
{%endblock%}
