{% extends "base.html" %}

{%block title%}Login{%endblock%}

{%block body%}



<h1 id="title" style="text-align: center;">Login</h1>


{% if message %}
    <div style="text-align: center;">
        {{ message }}
    </div>
{% endif %}


{% if form %}
<form id="formbox" action="{{url_for('login')}}" method="POST">
    <div id="espacio"></div>
    <div id="recuadro">
        {{ form.email.label }}: 
        <br>
        {{ form.email }} 
        {% if form.email.errors %}
        <br>

        
        {%for e in form.email.errors%}
        <b id="error">
            {{e}}
        </b>
        {%endfor%}
        
        {%endif%}
        <br>

        {{ form.password.label }}: <br>
        {{ form.password }}

        {% if form.password.errors %}
        <br>

        
        {%for e in form.password.errors%}
        <b id="error">
            {{e}}
        </b> 
        {%endfor%}
        
        {%endif%}
        <br>
        {{ form.csrf_token }}
        <div style="padding-top: 4px;">{{ form.submit }}</div>
    </div>
    <div id="espacio"></div>
</form> 
{%endif%}    
{%endblock%}



